version: '3.8'
services:
  mongo:
    image: mongo:latest
    restart: unless-stopped
    container_name: mongo
    volumes:
       - mongodb:/data/db
    ports:
      # Using 7017 port locally to prevent conflict with windows
      - 7017:27017
    environment:
      - MONGO_INITDB_DATABASE=shopapp
      - MONGO_INITDB_ROOT_USERNAME=username
      - MONGO_INITDB_ROOT_PASSWORD=password

  shopapp-backend:
    # Local repository build
    build: .

    #Registry build
    #image: jarkko1/shop-app:backend

    container_name: shopapp-backend
    environment:
        - SECRET=shopapp
        - SESSION_SECRET = kkdfkol2!!fasKKs
        - MONGODB_URI=mongodb://username:password@mongo:27017/shopapp?authSource=admin
        - TEST_MONGODB_URI = mongodb://username:password@mongo:27017/shopapp?authSource=admin
        - NODE_ENV=production
        - PORT=5001
    ports:
      - 5001:5001
    restart: always
    depends_on:
        - mongo
    stdin_open: true
    tty: true
    links:
      - mongo

  shopapp-frontend:
    # Local repository build
    build: ../shop-app-frontend

    # Registry build
    #image: jarkko1/shop-app:frontend

    container_name: shopapp-frontend
    ports:
      - 3000:3000

  #webserver:
  #  image: nginx:latest
  #  ports:
  #    - 80:80
  #    - 443:443
  #  restart: always
  #  volumes:
  #    - ./nginx/conf/:/etc/nginx/conf.d/:ro

volumes:
  mongodb:
    #external: true
